<div id="myDiv">
    <h1 class="h1_special">Créer un lieu </h1>
    <br>

        {{ form_start(lieuForm, {'attr' : {'id' : 'lieu-form'}}) }}

        {{ form_widget(lieuForm) }}

        <button type="button" onclick="enregistrerLieu()" >Enregistrer</button>


        <button type="button" onclick="annulerPage()">Annuler</button>


        {{ form_end(lieuForm) }}
    </div>




