{% extends 'base.html.twig' %}

{% block body %}

<h1>
    Afficher une sortie <!-- mettre le nom de la sortie enfonction de l'id -->
</h1>

{% endblock  %}

{% block title %}

    {{ parent() }} | Afficher sorties

{% endblock %}

