{% extends 'base.html.twig' %}

{% block title %}
 {{ parent() }} | Annuler une sortie
{% endblock %}

{% block body %}
<h1>Annuler {{ sortie.name }}</h1>
    <div>Date de la sortie: {{ so }}</div>
{% endblock %}

