<header>

    <nav>


        <ul>

            <li><a href="{{ path('main_modifUser') }}">Mon profil</a></li>
            <li><a href="{{ path('sortie_accueil') }}" title="accueil">Accueil</a></li>
            <li><a href="{{ path('sortie_creer') }}" title="accueil">Créer une sortie</a></li>


        </ul>
    </nav>


</header>